@model IEnumerable<WashingCarDB.DAL.Entities.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Vehiculos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPlate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPlate)
            </td>
        </tr>
}
    </tbody>
</table>
